@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,
body {
    min-width: 290px;
    background-color: #12232E;
    color: #EEFBFB;
    font-family: 'Secular One', sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

header {
    color: #f4f4f4;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    color: #33FA04;

}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #eefbfb;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #eefefe;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: #eefefe;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    padding: .5rem .5rem .5rem .5rem;
    margin: 0;
    background-color: #f4f4f4;
    display: inline-block;
    background-color: #203647;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 1;
    border-radius: 5px;
    border-left: solid 4px rgba(0, 255, 0, 1);
    font-family: 'VT323', monospace;
    font-size: 1.2em;

}

#wrapper {
    line-height: 0;
    border-left: solid 4px rgba(0, 255, 0, .1);
    border-right: solid 4px rgba(0, 255, 0, .1);


}

@media only screen and (max-width: 815px) {

    /* For mobile phones: */
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code,
    #wrapper {
        display: block;
        text-align: left;
        white-space: pre-line;
        margin-left: -20px;
        background-color: #203647;
        width: 100%;
        height: 100%;
        padding: 5px;
        padding-left: 10px;
        padding-right: 5px;
        min-width: 233px;
        font-family: 'VT323', monospace;
        font-size: 1.2em;
        word-break: normal;
        word-wrap: normal;

    }
}
